// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/* header */
.navbar {
  min-height: 1em;
}

.navbar-nav > li > a {
  padding: 5px 0;
  font-size: 0.85em;
}