// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//Font-awesome
@import "~font-awesome/scss/font-awesome";

$border-color: #d3e0e9;

$main-color: #2ab27b;

$main-bg-color: #f5f8fa;

$color-white: white;

.bg-color-white {
  background: $color-white;
}

.border-bottom {
  width: 100%;
  border-bottom: 1px solid $border-color;
}

.border-top {
  width: 100%;
  border-top: 1px solid $border-color;
}

/* header */
header {
  background: $main-bg-color !important;
}

.navbar {
  min-height: 1em;
  margin-bottom: 0;
}

.header-top > .navbar-nav > li > a {
  padding: 4px 0;
  font-size: 0.85em;
  &:hover {
    color: $main-color;
  }
}

.header-item {
  margin-top: 5px;
}

.navbar-header {
  position: relative;
  bottom: 6px;
  & > .navbar-brand {
    font-size: 2.2em;
    color: $main-color;
  }
}

.header-item > .navbar-nav > li > a {
  padding: 10px 40px;
  font-size: 1.2em;

  &:hover{
    color: $main-color;
  }
}

.row {
  padding-top: 22px;
}

.form-control {
  height: 42px;
  &:focus {
    border-color: $main-color;
  }
}

.btn {
  padding: 9px 10px;
}

/* footer */
footer {
  background: $color-white;
  line-height: 50px;
}
